.organizers .swiper {
  width: 240px;
  height: 320px;
  margin: 0;
}

.organizers .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;

  background-image: url("../src/assets/Badge.png");
  background-size: cover;
}
.organizers .swiper-3d .swiper-slide-shadow {
  background: none;
}
.organizers .swiper-slide:not(.swiper-slide-visible) {
  /* opacity: 0.2; */
}
