/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Google Sans */
@font-face {
  font-family: Google Sans;
  src: url("./GoogleSans/GoogleSans-Bold-v1.27.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Google Sans;
  src: url("./GoogleSans/GoogleSans-BoldItalic-v1.27.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Google Sans;
  src: url("./GoogleSans/GoogleSans-Italic-v1.27.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Google Sans;
  src: url("./GoogleSans/GoogleSans-Medium-v1.27.ttf");
  font-weight: Medium;
  font-style: normal;
}

@font-face {
  font-family: Google Sans;
  src: url("./GoogleSans/GoogleSans-MediumItalic-v1.27.ttf");
  font-weight: Medium;
  font-style: italic;
}

@font-face {
  font-family: Google Sans;
  src: url("./GoogleSans/GoogleSans-Regular-v1.27.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Google Sans - Display */
@font-face {
  font-family: Google Sans Display;
  src: url("./GoogleSans/GoogleSansDisplay-Bold-v1.27.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Google Sans Display;
  src: url("./GoogleSans/GoogleSansDisplay-BoldItalic-v1.27.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Google Sans Display;
  src: url("./GoogleSans/GoogleSansDisplay-Italic-v1.27.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Google Sans Display;
  src: url("./GoogleSans/GoogleSansDisplay-Medium-v1.27.ttf");
  font-weight: Medium;
  font-style: normal;
}

@font-face {
  font-family: Google Sans Display;
  src: url("./GoogleSans/GoogleSansDisplay-MediumItalic-v1.27.ttf");
  font-weight: Medium;
  font-style: italic;
}

@font-face {
  font-family: Google Sans Display;
  src: url("./GoogleSans/GoogleSansDisplay-Regular-v1.27.ttf");
  font-weight: normal;
  font-style: normal;
}

/* End of Fonts */

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Google Sans", "Helvetica Neue", Helvetica, Arial;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ol {
  list-style: decimal;
}
ul {
  list-style: disc;
}

ul,
ol {
  list-style-position: inside;
}

ul li *,
ol li * {
  display: inline-block;
}

/* organizers css */
.organizers .swiper-3d .swiper-slide-shadow {
  background: none;
}
.organizers .swiper-slide:not(.swiper-slide-visible) {
  /* opacity: 0.2; */
}

/* toasts */
.toast {
  opacity: 0;
  animation: fadeOut 5s 1;
  animation-fill-mode: both;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slide-out-left {
  -webkit-animation: slide-out-left 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
  animation: slide-out-left 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
    opacity: 0;
  }
}

.cardParent:hover .cardGesture {
  display: block;
  z-index: 100;
}

.cardGesture {
  display: none;
}
